name: CI

on: [pull_request]

jobs:
  test:
    runs-on: macos-26-xlarge
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0.1'
      - name: Install CocoaPods and xcpretty
        run: |
          gem install cocoapods -v '1.16.1'
          gem install xcpretty
      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_26.0.1.app/Contents/Developer'
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      - name: Verify plugin
        run: |
          set -eo pipefail
          npm install --no-save --registry=https://registry.npmjs.org/
          npm run verify | xcpretty --color
      - name: Build example iOS app
        run: |
          set -eo pipefail
          cd example
          npm install --no-save --registry=https://registry.npmjs.org/
          npm run build
          npx cap sync ios
          cd ..
          xcodebuild -project example/ios/App/App.xcodeproj \
            -scheme App \
            -destination 'generic/platform=iOS Simulator' \
            clean build | xcpretty --color
      - name: Build example Android app
        run: |
          cd example
          npx cap sync android
          cd android
          ./gradlew assembleDebug -x lint -x lintVitalRelease
