name: CI

on: [pull_request]

jobs:
  test:
    runs-on: macos-26-xlarge
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0.1'
      - name: Install CocoaPods and xcpretty
        run: |
          gem install cocoapods -v '1.16.1'
          gem install xcpretty
      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_26.0.app/Contents/Developer'
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      - name: Run CI
        run: |
          set -eo pipefail
          npm ci --no-save --registry=https://registry.npmjs.org/
          npm run verify | xcpretty --color
